{% comment %} va tener toda la informacion y estructura de nuestro blog o de la pagina web en general puedes tener muchos archivos base {% endcomment %}

<!-- <!DOCTYPE html> -->
{% load tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Document</title>
</head>
<body>
    {% comment %} #esto nos permite mandar informacion de manera dinamica a otras vistes como index {% endcomment %}
    {% block content %}{% endblock content %}  

</body>
</html>